{% extends "base.html" %}

{% block title %}Dashboard - Garmin Analytics{% endblock %}

{% block content %}

<h1>Training</h1>

<div class="layout">
    <div id="calendar"></div>
    <div id="chart_container">
        <canvas id="hrPie"></canvas>
        <div id="stats">
            <p><strong>Volume :</strong></p>
            <p>📅 Activités : <span id="total-activities">–</span></p>
            <p>⏱ Temps : <span id="total-duration">–</span></p>
            <p>🏃 Distance : <span id="total-distance">–</span> km</p>
            <p>⛰️ D+ : <span id="total-elevation-gain">–</span></p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>

{% endblock %}

